* {
  font-family: "Open Sans", sans-serif;
  color: #6f8c69;
}

h1,
h3,
.navbar-brand {
  font-family: Parisienne, serif;
  font-weight: 600;
}

.all-button {
  background-color: #fff;
  color: #6f8c69;
  border: solid 3px #6f8c69;
  border-radius: 5px;
  font-size: 1rem;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-button:hover {
  background-color: #6f8c69;
  color: #fff;
  border: solid 2px #6f8c69;
  border-radius: 5px;
}

.all-button:active {
  background-color: #6f8c69 !important;
  color: #fff !important;
  font-weight: 600;
  border: solid 5px #6f8c69 !important;
  border-radius: 5px;
}

.all-button:focus {
  outline: solid 1px #6f8c69;
}
